<% layout('/layouts/biolerplate') -%>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2"> <!-- Adjusted offset for centering -->
                <h3>Listing Details:</h3>
            </div>
            <div class="card col-6 offset-2 show-card"> <!-- Adjusted column sizes -->
                <div class="card-body">
                    <img src="<%=farms.image%>" class="card-img-top show-img" alt="show_image">
                    <p class="card-text"> <i>
                           <b>Owned by : </b> <%=farms.owner.username%>
                        </i>
                    </p>

                   
                    <p class="card-text">
                        <%=farms.description%></i>
                    </p>
                    <p class="card-text">
                       <i><%=farms.area%></i>
                    </p>
                    <p class="card-text"> &#8377;<%=farms.price.toLocaleString("en-In")%>/6-Months</i>
                    </p>
                    <p class="card-text">
                        <%=farms.location%></i>
                    </p>
                    <p class="card-text">
                        <%=farms.state%></i>
                    </p>
                </div>
            </div>

            <% if(curruser && curruser._id.equals(farms.owner._id)){ %>
                 <div class="btns">
                <a href="/farms/<%=farms._id%>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>
                <!-- Adjusted column size -->
                <form method="post" action="/farms/<%=farms._id%>?_method=DELETE">
                    <button class="btn btn-dark offset-4">Delete</button>
                </form>
            </div>

            <%}%>
           
        </div>
    </body>